.container {
    display: flex;
    background-color: black;
    color: white;
    width: 421px;
    height: 101px;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    transition: all 0.7s ease;
}

.container:hover {
    transition-property: background-color, border-radius;
    transition-duration: 0.7s;
    background: linear-gradient(rgb(0, 256, 180), rgb(145, 248, 94));
    border-radius: 10px;
}
p {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 36px;
}
/*https://codepen.io/jdillon/pen/PoLBVmV*/
/*https://codepen.io/ksenia-k/pen/GRLqZVR*/
/*https://codepen.io/abergin/full/vYrZjY*/
/*translateX - изменение по горизонтали
Y - вертикаль
translate(10px, 20px) - 10 px - x 20 px - y
scale (размер)
scalex
@ - директива

ПРО МАТРИЦУ
https://css-live.ru/articles/izuchaem-matricy-transformacij-v-css.html
*/
